<div class="view mblView">
	<div data-dojo-type="dojox/mobile/ScrollableView">
		<div id="tst1WrapperB" style="visibility:visible">
			<br>
			<br>
			<div class="field-title">This test was created to check the tansition flows and calls to beforeDeactivate, beforeActivate, app.emit layoutView, afterDeactivate, and afterActivate.</div>
			<div class="field-title">I have documented the expected results in a google doc for the following transitions.</div>
			<div class="field-title">These tests were run in Tablet mode.</div>
			<br>
			<div class="field-title"> <B>Case 1:</B> V2 to V4. <B>Case 2:</B> V2 to V2. <B>Case 3:</B> V2 to P1,S1,V1. <B>Case 4:</B> P1,S1,V1 to P1,S1,V1.</div>
			<br>
			<div class="field-title"> <B>Case 5:</B> P1,S1,V1 to V2. <B>Case 6:</B> P1,S1,V1 to P2,S2,Ss2,V5. <B>Case 7:</B> P1,S1,V1 to P1,S1,V3.</div>
			<br>
			<div class="field-title"> <B>Case 8:</B> P2,S2,Ss2,V5 to P2,S2,Ss2,V6. <B>Case 9:</B> P2,S2,Ss2,V5+P2,S2,Ss2,V6 to P1,S1,V1.</div>
			<br>
			<div class="field-title"> <B>Case 10:</B> P2,S2,Ss2,V5+P2,S2,Ss2,V6 to -P2,S2,Ss2,V6. <B>Case 11:</B> P2,S2,Ss2,V5+P2,S2,Ss2,V6 to -P2,S2,Ss2.</div>
			<br>
			<div class="field-title">These tests were run in Phone mode.</div>
			<br>
			<div class="field-title"> <B>Case 12:</B> configuration,Nav1 to P1,S1,V1. <B>Case 13:</B> configuration,Nav1 to P2,S2,Ss2,V5+P2,S2,Ss2,V6.</div>
			<br>
			<br><br>
		</div>
	</div>
</div>
